<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Editor</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
.chaptercontent-header{
      margin-left:5px;
      width:100%;
}
.target > div {
    display:none;
}

.target > div:target{
    display:block;
}

</style>

<!-- Next: http://mindmup.github.io/bootstrap-wysiwyg/ -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link href="/RichTextEditor/editor.css" type="text/css" rel="stylesheet"/>
<script src="/RichTextEditor/editor.js"></script>
